.button {
    height: 100px;
    width: 100px;
    border: solid green;
    display: inline-block;
    border-radius: 20px;
   

}
html{
    margin: 0;
}
span{
    display: block;

}
.canvas{
    margin: 100px auto 100px;
    width: 80%;
    text-align: center;
}

#grey{
    background-color: grey;
}

#yellow{
    background-color: yellow;
}

#blue{
    background-color: blue;
}

#white{
    background-color: white;
}